<div class="footer-decoration"></div>
<footer class="footer">
  <div class="footer-inner">
    <div class="container">
       <div class="left">
         <div class="footer-widget">
            {{- $logoWhite := resources.Get "images/ix-api-white.svg" -}}
                  <div><img src="{{ $logoWhite.RelPermalink }}" class="image wp-image-43  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" /></div>                                    </div>
            </div>

<div class="right">
  <nav class="footer-nav">
  <div class="menu-main-container">
  <ul id="menu-main-1" class="menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-123"><a href="/">Home</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-71 current_page_item menu-item-has-children menu-item-124"><a href="/how-it-works/" aria-current="page">How it works</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127"><a href="/api-documentation/">API Documentation</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-133"><a href="/about-ix-api/">About IX-API</a></li>
  </ul></div>                </nav>

  </div>
  </div>

</div>
</footer>

