<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="page-{{ .Title | urlize }}">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </div>
        <div class="u-indicator-mobile"></div>
        <div class="u-indicator-tablet"></div>
        <div class="u-indicator-desktop"></div>
        <div class="u-indicator-wide"></div>
       
        <script src="/js/jquery.js"></script>
        <script src="/js/bundle.js"></script>
    </body>
</html>
