{{ define "main" }}
<div class="ce-hero">
  <div class="container">
    <div class="ce-hero--inner">
      <figure>
        {{ partial "imgAsset.html" 
        (dict "src" "images/stock2.jpg"
        "alt" "Three people with laptops sitting around a table") }}
      </figure>
      <div class="content">
        <div class="copy">
          <h1 class="p1">Simplify your IX services</h1>
          <p class="p2">IX-API provides an interface for provisioning key services at multiple Internet Exchanges (IXs). It supports fully end-to-end automated processes and enables networks to configure, change and cancel services at multiple IXs.</p>
          <p><a href="/how-it-works/">How It Works</a> <a href="/api-documentation/">Documentation</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ce-left-right block--gray">
  <div class="container">
    <div class="ce-left-right--inner">
      <div class="left">
        <div class="copy">
          <h2>Automated processes, cost-efficient and fast</h2>
          <p>IX-API leads to a variety of benefits for IX customers and members as well as for IXs. It reduces the time for configuring, changing and cancelling services from days to minutes. IX-API is available 24/7/365 and it requires less effort and cost per transaction. IX-API offers increased transparency and by offering one single API language for multiple Internet Exchanges, implementation costs are reduced to a minimum.</p>
          <p><a class="button" href="/how-it-works/benefits/">Benefits</a></p>
        </div>
      </div>

      <div class="right">
        <div class="copy">
          <p style="text-align: center;">
          <img class="alignnone wp-image-258 size-full"
               src="{{(resources.Get "images/stock3.svg").RelPermalink}}"
               alt="A stylized computer screen with a process" width="300" /></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ce-left-right">
  <div class="container">
    <div class="ce-left-right--inner">
      <div class="left">
        <div class="copy">
          <p>
          {{ partial "imgAsset.html" 
          (dict "src" "images/stock4.jpg"
          "alt" "Three people without laptops sitting around a table in cheerful discussion.") }}
          </p>  
        </div>
      </div>

      <div class="right">
        <div class="copy">
          <h2 class="p1">Developed for the community</h2>
          <p class="p2">IX-API was designed and developed as an open industry standard by AMS-IX, DE-CIX and LINX, the three leading global Internet Exchanges. The open community API (Application Programming Interface) is already implemented at these three IXs, and additional Internet Exchanges are in the process of implementing it. All customers of the participating exchanges, whether resellers, Internet Service Providers, Content Delivery Networks or carriers, can benefit from IX-API, regardless of their business model and size.</p>
          <p><a class="button" href="/about-ix-api/">About IX-API</a></p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ce-columns block--gray vertical-align">
  <div class="container">
    <div class="ce-columns--inner">
      <div style="width: 20%" class="column">
        <div class="copy">
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
          <p>
          <img class="size-full aligncenter" src="/_extra_res/logos/amsix_Logo_grau.svg" alt="amsix" width="100" /></p>
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
          <p><img class="size-full wp-image-142 aligncenter" 
                  src="/_extra_res/logos/de-cix_Logo_grau.svg" alt="DE-CIX" width="100" /></p>
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
          <p><img class="size-full wp-image-143 aligncenter"
                  src="/_extra_res/logos/linx_Logo_grau.svg" alt="Linx" width="150" /></p>
        </div>
      </div>
      <div style="width: 20%" class="column">
        <div class="copy">
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
